{% load static %}
<!-- Google Web Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Fredoka:wght@600;700&family=Montserrat:wght@200;400;600&display=swap" rel="stylesheet"> 

<!-- Icon Font Stylesheet -->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css"/>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css"/>

<!-- Libraries Stylesheet -->
<link href="{% static 'lib/animate/animate.min.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'lib/lightbox/css/lightbox.min.css' %}" rel="stylesheet" type="text/css" />
<link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet" type="text/css" />

<!-- Customized Bootstrap Stylesheet -->
<link href="" rel="stylesheet">
<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" type="text/css" />

<!-- Template Stylesheet -->
<link href="" rel="stylesheet">
<link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css" />



