{% load static %} 

<div class="container-fluid blog py-5">
    <div class="container py-5">
        <div class="mx-auto text-center wow fadeIn" data-wow-delay="0.1s" style="max-width: 600px; visibility: visible; animation-delay: 0.1s; animation-name: fadeIn;">
            <h3 class="mb-5 display-6">Oferecemos também</h3>
        </div>
        <div class="row g-5 justify-content-center">
            <div class="col-md-6 col-lg-6 col-xl-4 wow fadeIn" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeIn;">
                <div class="blog-item rounded-bottom">
                    <div class="blog-img overflow-hidden position-relative img-border-radius">
                        <img src="{% static 'img/blog-2.jpg' %}" class="img-fluid w-100" alt="Image">
                    </div>
                    <div class="d-flex justify-content-between px-4 py-3 bg-light border-bottom border-primary blog-date-comments">
                    </div>
                    <div class="blog-content d-flex align-items-center px-4 py-3 bg-light">
                        <div class="ms-3">
                            <h6 class="text-primary">Lorem ipsum dolor</h6>
                            <p class="text-muted">Donec sed purus</p>
                        </div>

                    </div>
                    <div class="px-5 pb-4 bg-light rounded-bottom">
                        <div class="blog-text-inner">
                            <p class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed purus Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed purus</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-4 wow fadeIn" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeIn;">
                <div class="blog-item rounded-bottom">
                    <div class="blog-img overflow-hidden position-relative img-border-radius">
                        <img src="{% static 'img/blog-2.jpg' %}" class="img-fluid w-100" alt="Image">
                    </div>
                    <div class="d-flex justify-content-between px-4 py-3 bg-light border-bottom border-primary blog-date-comments">
                    </div>
                    <div class="blog-content d-flex align-items-center px-4 py-3 bg-light">
                        <div class="ms-3">
                            <h6 class="text-primary">Lorem ipsum dolor</h6>
                            <p class="text-muted">Donec sed purus</p>
                        </div>

                    </div>
                    <div class="px-5 pb-4 bg-light rounded-bottom">
                        <div class="blog-text-inner">
                            <p class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed purus Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed purus</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-6 col-xl-4 wow fadeIn" data-wow-delay="0.1s" style="visibility: visible; animation-delay: 0.1s; animation-name: fadeIn;">
                <div class="blog-item rounded-bottom">
                    <div class="blog-img overflow-hidden position-relative img-border-radius">
                        <img src="{% static 'img/blog-2.jpg' %}" class="img-fluid w-100" alt="Image">
                    </div>
                    <div class="d-flex justify-content-between px-4 py-3 bg-light border-bottom border-primary blog-date-comments">
                    </div>
                    <div class="blog-content d-flex align-items-center px-4 py-3 bg-light">
                        <div class="ms-3">
                            <h6 class="text-primary">Lorem ipsum dolor</h6>
                            <p class="text-muted">Donec sed purus</p>
                        </div>

                    </div>
                    <div class="px-5 pb-4 bg-light rounded-bottom">
                        <div class="blog-text-inner">
                            <p class="">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed purus Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sed purus</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>